services:

  open-webui:
    image: ghcr.io/open-webui/open-webui:latest
    container_name: open-webui
    volumes:
      - ./data:/app/backend/data
    ports:
      - 8089:8080
    environment:
      - OLLAMA_BASE_URL=http://host.docker.internal:11434
      - WEBUI_AUTH=false
    extra_hosts:
      - host.docker.internal:host-gateway
    network_mode: host
    restart: unless-stopped


    # Acesse o Open-webui em http://localhost:8089