# LiteLLM variables
LITELLM_MASTER_KEY= sk-1234
LITELLM_SALT_KEY= sk-XXXXXXXXXXXXXXXX
DATABASE_URL= postgresql://litellm_user:Password123@db:5432/litellm_db

# Postgres variables
POSTGRES_PASSWORD= Password123
POSTGRES_DB= litellm_db