# rename this file to .env and change values

POSTGRES_USER=n8n
POSTGRES_PASSWORD=troque_esta_senha
POSTGRES_DB=n8n
N8N_ENCRYPTION_KEY=chave_de_encriptacao_gerada_aleatoria
N8N_USER_MANAGEMENT_JWT_SECRET=jwt_secret_gerado_aleatorio
