services:
  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    deploy:
      restart_policy:
        condition: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
      MONGO_INITDB_DATABASE: ${MONGO_INITDB_DATABASE}
      - TZ=America/Sao_Paulo
    volumes:
      - ./data/db:/data/db
  
  mongo-express:
    ports:
      - 8081:8081
    image: mongo-express
    deploy:
      restart_policy:
        condition: unless-stopped
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      ME_CONFIG_MONGODB_ADMINPASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
      ME_CONFIG_MONGODB_ENABLE_ADMIN: 'true'
      ME_CONFIG_MONGODB_SERVER: 'mongo'
      TZ: America/Sao_Paulo
    links:
      - mongo
    depends_on:
      - mongo

  # Acesse o Mongo Express via http://localhost:8081

networks:
  default:
    name: docker-network
    external: true
